<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316899571497-qocjpfonfe84uviibva0qei6k2ua590q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316899571497-qocjpfonfe84uviibva0qei6k2ua590q</string>
	<key>API_KEY</key>
	<string>AIzaSyBAQ5MHjLr-605lQf8dYFgkAU6oDAMZaaI</string>
	<key>GCM_SENDER_ID</key>
	<string>316899571497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phisan.baseproject</string>
	<key>PROJECT_ID</key>
	<string>social-authentication-315106</string>
	<key>STORAGE_BUCKET</key>
	<string>social-authentication-315106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316899571497:ios:c6a710284299e597e36938</string>
</dict>
</plist>